body {margin:0;padding:0}
.map:-moz-full-screen {
	height: 100%;
}
.map:-webkit-full-screen {
	height: 100%;
}
.map:-ms-fullscreen {
	height: 100%;
}
.map:fullscreen {
	height: 100%;
}
.ol-popup {
	position: absolute;
	/* background-color: white; */
	background-color: #282a3e;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	/* padding: 15px; */
	padding: 0px;
	/* border-radius: 10px; */
	border: 1px solid #000;
	bottom: 12px;
	left: -50px;
	min-width:160px;
	white-space: nowrap;
    text-overflow: ellipsis;
  }
.ol-popup .ol-popup-title{
	/* display:none; */
	display: block;
    height: 37px;
    color: white;
    line-height: 50px;
    border-bottom: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #44546a;
}
.ol-popup.vessel > .ol-popup-title{
	display: block;
    height: 36px;
    color: white;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    /* border-top-left-radius: 13px; */
    /* border-top-right-radius: 13px; */
    background-color: #44546a;
	/* border: 1px solid #000; */
	/*background-image:url("/QvAjaxZfc/QvsViewClient.aspx?public=only&name=Extensions/QvOSM_PVM/icon/c_box01_top.png");*/
}


.ol-popup.vessel > .ol-popup-title > .ol-popup-title-content{
	cursor : pointer;
	font-size: 14px;
    margin-left: 4px;
    margin-right: 10px;
    /* color: #ffff00; */
    /* text-decoration: underline; */
    font-weight: bold;
    text-overflow: ellipsis;
    overflow:hidden;
    width:152.42px;
    height:16px;
}


.ol-popup.vessel > .ol-popup-title > .ol-popup-headtitle-content {
    font-size: 16px;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    color: #ffffff;

}

.ol-popup.vessel > .ol-popup-title[def="typhoon"]{
	background-color: #4472c4 !important;
}

.ol-popup.vessel > .ol-popup-title > .ol-popup-title-content[def="typhoon"]{
	color : #FFFFFF !important;
	text-decoration: none;
}


.ol-popup .popup_content{
	/* background-color: #a7a7a7; */
}

.ol-popup .popup_content[def="typhoon"]{
	background-color: #bdd7ee;
}

.ol-popup.vessel {
	border: 1px solid #000;
    /* background-color: #a7a7a7; */
    /* border-radius: 5px; */
    /* border-top-left-radius: 15px; */
    /* border-top-right-radius: 15px; */
    padding: 0px;
  }
  .ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  }

  .ol-popup.vessel:after {
	border-top-color: #282a3e;

  }
  .ol-popup.vessel:before {
	border-top-color: #000;

  }
  .ol-popup:after {
	/* border-top-color: white; */
	border-top-color: #282a3e;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
  }
  .ol-popup:before {
	/* border-top-color: #cccccc; */
	border-top-color: #282a3e;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
  }
  .ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 5px;
  }
  .ol-popup-closer:after {
	content: "x";
  }
  .ol-popup-closer:after:hover, .ol-popup-closer:hover {
	color:#fff;
  }
  .ol-popup-closer2 {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
  }
  .ol-popup-closer2:after {
	content: "x";
  }

  #port-Popup-Closer {
	text-decoration: none;
	position: absolute;
	top: -19px;
    right: 8px;
	color: white;
  }
  #port-Popup-Closer:after {
	content: "x";
  }
  .ol-popup .popup_content{
  	/* color:#037da6; */
	/* margin:0px; */
	color: #fff;
    padding: 10px 15px 5px 15px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    width: 60%;
    white-space: pre-line;
    font-size: 13px;
  }


  .ol-popup.vessel .popup_content{
  	/* color: #000; */
	color: #fff;
    padding: 15px 15px 5px 15px;
	/* border: 1px solid #000; */
    border-top: 0;
	/* background-color: #282a3e; */
  }
  .ol-popup.vessel a{
	color:#a0b2c0
  }
  .ol-zoom{
	  display:none;

  }
  #PVM-PORT-title{

    height: 72px;
    position: absolute;
    top: 0px;
    width: 100%;
    color: white;
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.9;
    z-index: 9999;
    background-image: url(/QvAjaxZfc/QvsViewClient.aspx?public=only&name=Extensions/QvOSM_PVM/icon/c_box04.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

	/*background-color: #1a3251; /* For browsers that do not support gradients */



  }
  #PVM-PORT-title img{

  }
  #PVM-PORT-title .PVM-PORT-content{
  	font-size:22px;
	margin-left:20px;

  }
  #PVM-PORT-title .PVM-PORT-vesselVal{
  	position: absolute;
    right: 20px;
    font-size: 25px;
	top: 5px;
	color:yellow;
  }
  #PVM-PORT-title .PVM-PORT-update {
		position: absolute;
		top: 24px;
		left: 58px;
		font-size: 14px;
		color: #949494;
		height: 20px;

  }
  #PVM-PORT-title .PVM-PORT-vesselVal .vesselVal{
	  font-size:35px
  }



  #tooltip {
  min-width: 250px;
  max-width: 400px;
  background-color: #deebf7;
  color: #000000;
  opacity: 0.9;
  font-size: 14px;
  font-family: sans-serif;
  margin: 3px;
  border: 1px solid #0080ff;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  z-index:25;
  display:inline-block;
  width:400px;
}


  .mapLayerBtn{
  	position:absolute;z-index:1000;background:#5176A8;border-radius:5px;padding:0 0 0 5px;float:left;left:35px;top:10px;width:20px;height:20px;color:#fff;line-height:19px;font-size:13px;font-weight:bold;cursor:pointer;
  }
  .wtLayerBtn{
	position:absolute;z-index:1000;background:#5176A8;border-radius:5px;padding:0 0 0 5px;float:right;right:5px;top:30px;width:20px;height:20px;color:#fff;line-height:19px;font-size:13px;font-weight:bold;cursor:pointer;
  }
  .mapLayer{
  	position:absolute;z-index:1000;background:#595959;opacity:0.8;border-radius:5px;padding:5px 0 10px 0;
  }
  .mapLayerBtn1{
  	position:absolute;z-index:1000;background:#5176A8;border-radius:5px;padding:0 0 0 5px;float:left;left:35px;top:10px;width:20px;height:20px;color:#fff;line-height:19px;font-size:13px;font-weight:bold;cursor:pointer;
  }
  .wtLayerBtn1{
	position:absolute;z-index:1000;background:#5176A8;border-radius:5px;padding:0 0 0 5px;float:right;right:5px;top:30px;width:20px;height:20px;color:#fff;line-height:19px;font-size:13px;font-weight:bold;cursor:pointer;
  }
  .mapLayer1{
  	position:absolute;z-index:1000;background:#595959;opacity:0.8;border-radius:5px;padding:5px 0 10px 0;
  }
  .zoomLevel {
	display:none;position:absolute;z-index:1000;border-radius:5px;padding:0 0 0 5px;float:left;left:35px;top:10px;width:100px;height:20px;color:rgb(81,118,168);line-height:19px;font-size:13px;
  }
  .zoomLevel.region {
	 top:250px;
  }
  .zoomLevel.subs {
	 top:170px;
  }
  .zoomLevel.port {
	 top:115px;
  }
  .shipMarker {
	  opacity:0.5;width:25px;height:18px;position:absolute;z-index:99999999;background-size:25px 18px !important;background-repeat:no-repeat;background-clip: content-box;
  }
  .airMarker {
	  opacity:0.5;width:24px;height:24px;position:absolute;z-index:99999999;background-size:24px 24px !important;background-repeat:no-repeat;background-clip: content-box;
  }
  .form-group img {margin:2px 0 2px 0}
  .vessel_name_box{
	  padding : 3px 15px;
	  border-radius : 15px;
	  background-color : #ddd;
	  z-index:9998;
	  opacity:0.7;
  }
  .route_time_box{
	  padding : 3px 15px;
	  border-radius : 5px;
	  background-color : #004aa6;
	  opacity:0.7;
  }
  .alert-red{
	color:#ff6262;

  }
  .route_time_box:before {
	content: '';
	position: absolute;
	border-right: 25px solid #004aa6;
	border-top: 13px solid transparent;
	border-bottom: 0px solid transparent;
	/*top: 20px;*/
	left: -25px;
  }
  .port-encheck {
	position: absolute;
	z-index: 26;
    top: 380px;
    left: 7px;
    width: 64px;
    height: 73px;

	cursor:pointer;
    border: 0px solid rgb(4, 108, 193);
  }

  .port-encheck img {
	border: 0px;
    border-radius: 7px;

  }
  .weather-encheck {
	position: absolute;
	z-index: 26;
    top: 451px;
    left: 7px;
    width: 64px;
    height: 73px;

	cursor:pointer;
    border: 0px solid rgb(4, 108, 193);
  }

  .weather-encheck img {
	border: 0px;
    border-radius: 7px;

  }
  #sProgressPopup {
	position:absolute;
	display:none;
	background-color: white;
	left:38%;
	top:45%;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;

	font-size: 24px;
	width:24%;
	white-space: nowrap;text-overflow: ellipsis;
  }
.sProgressPopup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.sProgressPopup-closer:after {
	content: "x";
}
#vLdContainers {
	color: white;
   	border-top: 1px solid black;
   	padding-left: 15px;
   	padding-top: 5px;
   	margin: 0;
   	padding-bottom: 5px;
   	cursor: pointer;
}
#vLdContainers:hover{
	background-color:#070a6b;
}

.ol-popup.vessel > #popup-content > #vLdContainers+p{
	margin:0;
}
